---
import "../styles/global.css";
---

<html lang="en" data-theme="fantasy">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Fierce North</title>
  </head>
  <body class="flex flex-col min-h-screen bg-base-100 text-base-content">
    <!-- Header -->
    <header class="bg-neutral shadow-sm text-neutral-content px-6 py-6 ">
      <div class=" flex items-center justify-between">
        <img class="w-8 h-8" src="\shape.png" alt="">
        <div class="text-3xl font-bold tracking-wide text-gray-800">
          The Fierce North<span class="text-gray-800">.</span>
        </div>
        <!-- Navigation -->
        <nav id="navbar-elmnt" class="space-x-6 text-2xl text-gray-800 font-medium">
          <a href="/" class="hover:underline">Home</a>
          <a href="/articles" class="bg-gray- hover:underline">Articles</a>
          <a href="/about" class="hover:underline">About</a>
        </nav>
        <div class="flex space-x-5">
        <img class="w-8 h-8 cursor-pointer" src="/profile.svg" alt="">
        <img class="w-8 h-8 cursor-pointer" src="/mode.svg" alt="">
        <img id="navbar-ham" class="w-8 h-8 cursor-pointer" src="\ham.svg" alt="">
        </div>
        
      </div>
    </header>

    <!-- Page Content -->
    <main class="flex-grow px-6 py-8 max-w-4xl mx-auto">
      <slot />
    </main>

    <!-- Footer -->
    <footer class="bg-neutral text-neutral-content text-center text-sm py-6">
      © {new Date().getFullYear()} The Fierce North. All rights reserved.
    </footer>
  </body>
</html>